@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.glass-card {
  @apply bg-black/50 backdrop-blur-xl border border-neonCyan/40 rounded-xl transition-all duration-300;
}

.glass-card:hover {
  @apply shadow-neon-cyan border-neonCyan/80 -translate-y-1 scale-[1.04];
}

@keyframes drawLine {
  0% {
    stroke-dashoffset: 100;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #06b6d4;
  border-radius: 4px;
}